---
export const prerender = false;
import Layout from "@/layouts/Layout.astro"
import FootbalField from "@/components/match/detail/FootbalField.vue";
import MatchDetail from "@/components/match/detail/MatchDetail.vue";

const {matchid} = Astro.params
//let finalMatchID:string = "" 

if(matchid==undefined){
	return Astro.redirect('/partidos');
}
---

<Layout title="Caracantosmeaos Club: Detalles de Partido" isindex={false} description='Detalles del partido' 
	keywords='fifa, eafc, fifa23, fifa24, eafc24, club, pro, clubespro, proclubs, caracantosmeaos, eltrueno, el_trueno, inicio, partido, stats, detalles, detail'>
	<meta slot="metadata" property="og:url" content=`https://www.caracantosmeaos.club/partido/${matchid}`/>
	<meta slot="metadata" property="og:image" content="https://www.caracantosmeaos.club/escudo_banner_fondo.jpg"/>
	<meta slot="metadata" name="twitter:url" content=`https://www.caracantosmeaos.club/partido/${matchid}`/>
	<meta slot="metadata" name="twitter:image" content="https://www.caracantosmeaos.club/escudo_banner_fondo.jpg"/>

	<section >
		<container class="flex p-6 lg:p-16 justify-center items-center">           
			<MatchDetail client:load matchId={Number(matchid)}/>
		</container>
	</section>
</Layout>